#tab-1-content,
#tab-2-content,
#tab-3-content {
	display: none;
}

.show {
	display: block !important;
}

#tab-1-content .tab-1-content-inner {
	display: grid;

}

#tab-2-content .tab-2-content-top {
	display: grid;
}

#tab-2-content .tab-2-content-bottom {
	display: grid;

}
